*{
    box-sizing: border-box;
}
body{
    background-image: url('./css/imggg/download.jfif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h1{
    text-transform: uppercase;
}
.project{
    text-transform:lowercase;
}
#project1{

}
.success-message{

    border: 20px solid red;
    padding: 50px;
    padding-top: 50px;
    margin: 50px;
    
  
}
.error-message{

    
    border: 2px solid rgb(70, 20,20);
}
.success-message,.error-message{
    color: gray;
    background-color: seashell;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    height: 200px;
    width: 200px;
}
.message.success-message{
    border: 2px solid blue;
}

header .item{
    background-color: blueviolet;
    text-decoration: underline;
}